.manage-doctor-container {
  padding: 5px;
  .manage-doctor-title {
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .save-content-doctor {
    background: #ffc107;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }
  .create-content-doctor {
    background: #3757e6;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    border: none;

    &:hover {
      opacity: 0.8;
    }
  }
  .more-infor {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
    .content-left {
      width: 40%;
    }
    .content-right {
      width: 60%;
    }
  }
}
